@font-face {
    font-family: 'Mirra';
    src: url('/static/fonts/Mirra.otf');
}

* {
    margin: 0;
    padding: 0;
}

.header {
    font-size: 5em;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.SPB {
    font-family: 'Mirra', "Arial", sans-serif;
    font-weight: bold;
    letter-spacing: 20px;
    font-size: 6em;
}

body {
    height:max-content;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20%;
}

.SPB-body {
    background-image: url('https://ucare.timepad.ru/3593ce4f-529e-4a29-9efb-c9e22949a682/poster_event_459350.jpg');
}

#content-div {
    font-family: 'Century Gothic', "Arial", sans-serif;
    font-size: 1.3em;

    background-color: aliceblue;
    border-radius: 20px;

    width: 60vw;

    margin: 20% 0% 0% 50%;
    transform: translate(-50%, 0%);

    padding: 2%;
    box-sizing: border-box;
}

div h2 {
    margin-bottom: 2%;
}

div p {
    margin-bottom: 1%;
}

div ul, div ol {
    margin-left: 2%;
}

li {
    margin-bottom: 0.5%;
}

.content-image {
    max-width: 500px;
}

.img-content-block {
    display: flex;
    align-items: top;
    margin: 1% 3%;
}

.img-content-block img {
    margin: 0% 1%;
    box-sizing: border-box;
}

.img-content-block p {
    margin: 2% 1%
}

.after-img-content-block-text {
    margin-left: 3.5%;
}

.map-div {
    margin: 3%;
}